.place__delete-button {
  background-image: url(../../../images/delete-button.svg);
  background-color: transparent;
  width: 22px;
  height: 19px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: opacity 0.2s ease;
  top: 20px;
  right: 16px;
  outline: none;
  position: absolute;
}

.place__delete-button:hover {
  opacity: .6;
  cursor: pointer;
}